@{
	# User-specific settings that are often adjusted (Example configuration - copy to Variable.psd1 and adjust)

	# VPN config (Example)
	port = 443 # Port for VPN connection
	protocol = 'TCP' # Protocol for VPN (TCP or UDP)
	vpnSubnet = '10.8.0.0' # Subnet for VPN network
	vpnMask = '255.255.255.0' # Subnet mask for VPN network
	testIP = '10.8.0.1' # Test IP address within VPN subnet
	dns1 = '8.8.8.8' # Primary DNS server
	dns2 = '8.8.4.4' # Secondary DNS server
	
	# WireGuard config
	wireGuardDefaultDns = '8.8.8.8' # Default DNS for WireGuard
	wireGuardPort       = 51820 # Port for WireGuard
	wireGuardBaseSubnet = '10.13.13' # Base subnet for WireGuard
	
	# Server configuration (preset to avoid prompts - example)
	serverName = 'vpn-server'  # Mandatory: Name of the VPN server
	serverIP = 'your.server.ip.here'  # Mandatory: LAN IP of the server
	serverWanIP = 'your.wan.ip.here'  # Mandatory: WAN IP or DDNS of the server
	lanSubnet = '192.168.1.0' # Mandatory: LAN subnet of the network behind the VPN server
	lanMask = '255.255.255.0' # Mandatory: Subnet mask of the LAN network
	noPass = $true  # Whether certificates should be created without a password


	# client configuration (Example)
	clientName = 'client1'  # Mandatory: Name of the VPN client
	remoteClientIP = "your.client.ip.here" # Mandatory: IP of the client
	
	clientCSVPath = "output\test_clients.csv" # Path to CSV file with extra clients
}