name: CI/CD

on:
  push:
    branches:
      - dev
      - main

jobs:
  test:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Pester
      run: Install-Module -Name Pester -Force -SkipPublisherCheck

    - name: Run Tests
      run: Invoke-Pester -Path .\tests\AutoSecureVPN.Tests.ps1
