name: CI/CD

on:
  push:
    branches:
      - dev
      - main

jobs:
  unit-test:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Pester
      run: Install-Module -Name Pester -Force -SkipPublisherCheck

    - name: Run Core Tests
      run: Invoke-Pester -Path .\tests\Core.Tests.ps1 -CI

    - name: Run OpenVPN Tests
      run: Invoke-Pester -Path .\tests\OpenVPN.Tests.ps1 -CI

    - name: Run WireGuard Tests
      run: Invoke-Pester -Path .\tests\WireGuard.Tests.ps1 -CI
